/gehtnicht1.txt
/gehtnicht10.txt
/gehtnicht11.txt
/gehtnicht12.txt
/gehtnicht2.txt
/gehtnicht3.txt
/gehtnicht4.txt
/gehtnicht5.txt
/gehtnicht6.txt
/gehtnicht7.txt
/gehtnicht8.txt
/gehtnicht9.txt
/minnumber.txt
/pairing.txt
/parallelpen.txt
/prefexamp.txt
